<h1>Add Images</h1>

<form enctype="multipart/form-data" method="post" asp-controller="Car" asp-action="AddImages">
    <dl>
        <dt>
            <label>Upload</label>
        </dt>
        <dd>
            <input type="file" name="FormFile" id="FormFile">
            
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>