html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-screen {
    display: flex;
    justify-content: center;
}
.product-image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.product-image-thumbs {
    align-items: stretch;
    display: flex;
    margin-top: 2rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.product-image-thumb {
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    display: flex;
    margin-right: 1rem;
    max-width: 7rem;
    padding: 0.5rem;
}

.card-body::after, .card-footer::after, .card-header::after {
    display: block;
    clear: both;
    content: "";
}

div ::after {
    box-sizing: border-box;
}