@model CarExchange.Core.Models.CarResponse

@{
    ViewData["Title"] = "AllOffers";
}

<h1>All Offers</h1>
<div class="row">

    @foreach (var item in Model.Cars)
    {
        <div class="card m-1" style="width:350px;">
            <a asp-action="Product" asp-route-id="@item.Id">
                <div class="card-body">
                    <img src="data:image/jpeg;base64,@item.Picture" width="300" height="300">
                    <hr>
                    <h5 class="card-title">@item.Car</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Price €, @item.Mileage km.</h6>

                </div>
            </a>
        </div>
    }

</div>
